@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* --------------ROOT VARIABLES----------------- */
:root{
    --color-primary:#ec73a1;
    --color-danger:#fc4c5b;
    --color-success:#41f1b6;
    --color-warning:#f0b051;
    --color-white:#fff;
    --color-info-dark: #2c333b;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-background: #f6f6f9;
    --color-dark-variant: #677483;
    --color-primary-variant: #111e88;
    --color-kf-red: #eb0c43;
    --color-kf-pink: #ffe9ec;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark);
}

/*----------------------- LOGIN BOX ------------------------*/
.logo img{
    position: absolute;
    width: 25%;
    height: 40%;
    left: 38%;
    top: 5%;
    z-index: 1;
}

.login {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background: var(--color-kf-pink);
}

.login .username h2 {
    position: absolute;
    top: 30%;
    left: 30%;
}

.login .username input {
    position: absolute;
    width: 45%;
    height: 10%;
    top: 40%;
    left: 30%;
}

.login .password h2 {
    position: absolute;
    top: 55%;
    left: 30%;
}

.login .password input {
    position: absolute;
    width: 45%;
    height: 10%;
    top: 65%;
    left: 30%;
    font-size: 25px;
}

.login button {
    position: absolute;
    width: 25%;
    height: 10%;
    left: 38%;
    top: 85%;
    background: var(--color-kf-red);
    font-size: 20px;
    font-family: poppings, sans-serif;
    font-weight: bold;
}

.login button:hover {
    background: black;
    color: white;
    cursor: pointer; /* Changes cursor to a pointer on hover */
}

.login p {
    position: absolute;
    left: 30%;
    top: 75%;
}