@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* --------------ROOT VARIABLES----------------- */
:root{
    --color-primary:#ec73a1;
    --color-danger:#fc4c5b;
    --color-success:#41f1b6;
    --color-warning:#f0b051;
    --color-white:#fff;
    --color-info-dark: #2c333b;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-background: #f6f6f9;
    --color-dark-variant: #677483;
    --color-primary-variant: #111e88;
    --color-kf-red: #eb0c43;
    --color-kf-pink: #ffe9ec;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark);
}

/*----------------------- LOGIN BOX ------------------------*/
.logo img{
    position: absolute;
    width: 20%;
    height: 32%;
    left: 40%;
    z-index: 1;
}

.login {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 12.5%;
    background: var(--color-kf-pink);
}

.login .verticalLine {
    position: relative;
    top: 25%;
    left: 49.5%;
    width: 1%;
    height: 70%;
    background: black;
}

/*------------------------ CUSTOMER LOGIN ---------------------------*/
.login .customerTitle h1 {
    position: absolute;
    left: 15%;
    top: 25%;
}

.login .phoneNumber h2 {
    position: absolute;
    top: 40%;
    left: 5%;
}

.login .phoneNumber input {
    position: absolute;
    width: 40%;
    height: 8%;
    left: 5%;
    top: 46%;
    font-size: 20px;
    font-family: poppins, sans-serif;
}

.login .phoneNumber p {
    position: absolute;
    left: 5%;
    top: 54%;
}

.login .phoneNumber button {
    position: absolute;
    width: 40%;
    height: 8%;
    left: 5%;
    top: 58%;
    background: var(--color-kf-red);
}

.login .customerOAuth h3 {
    position: absolute;
    left: 24%;
    top: 68%;
}

.login .customerOAuth button {
    position: absolute;
    left: 5%;
    top: 73%;
    background: white;
}

.login .customerOAuth button:hover {
    background: var(--color-info-light);
    color: black;
    cursor: pointer;
}

/*------------------------ EMPLOYEE LOGIN ---------------------------*/
.login .employeeTitle h1 {
    position: absolute;
    top: 25%;
    left: 65%;
}

.login .username h2 {
    position: absolute;
    top: 35%;
    left: 55%;
}

.login .username input {
    position: absolute;
    width: 40%;
    height: 8%;
    top: 41%;
    left: 55%;
    font-size: 20px;
    font-family: poppins, sans-serif;
}

.login .password h2 {
    position: absolute;
    top: 52%;
    left: 55%;
}

.login .password input {
    position: absolute;
    width: 40%;
    height: 8%;
    top: 58%;
    left: 55%;
    font-size: 20px;
}

.login button {
    position: absolute;
    width: 40%;
    height: 8%;
    left: 55%;
    top: 70%;
    background: var(--color-kf-red);
    font-size: 20px;
    font-family: poppings, sans-serif;
    font-weight: bold;
}

.login button:hover {
    background: black;
    color: white;
    cursor: pointer; /* Changes cursor to a pointer on hover */
}

.login p {
    position: absolute;
    left: 55%;
    top: 66%;
}

.login .employeeOAuth h3 {
    position: absolute;
    left: 74%;
    top: 80%;
}

.login .employeeOAuth button {
    position: absolute;
    width: 40%;
    height: 8%;
    left: 55%;
    top: 85%;
    background: white;
}

.login .employeeOAuth button:hover {
    color: black;
    background: var(--color-info-light);
    cursor: pointer;
}