@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* --------------ROOT VARIABLES----------------- */
:root{
    --color-primary:#ec73a1;
    --color-danger:#fc4c5b;
    --color-success:#41f1b6;
    --color-warning:#f0b051;
    --color-white:#fff;
    --color-info-dark: #48505a;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-background: #f6f6f9;
    --color-dark-variant: #677483;
    --color-primary-variant: #111e88;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height:100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark)
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}

.primary{
    color:var(--color-primary)
}
.danger{
    color:var(--color-danger)
}
.success{
    color:var(--color-success)
}
.warning{
    color:var(--color-warning)
}

aside{
    height: 100vh;
}
aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 3rem;
    height: 3rem;
}

/* ------------------------NAVIGATION SIDEBAR---------------------- */
aside .sidebar{
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a span{
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem -6px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}

/* ------------------MAIN CONTENT----------------------- */
main {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
}
main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .insights >div:hover{
    box-shadow: none;
}
main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------RIGHT SIDEBAR-------------------- */
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap:2rem;
}

.right .top .profile{
    display: flex;
    gap : 2rem;
    text-align: right;
}
.right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
}

/* -------------------------SEARCH BAR----------------------------- */
main input[type=text]{
    margin: 0.8rem;
    padding: 6px;
    font-size: 15px;
    font-family: poppins, sans-serif;
}
.search-container{
    background: var(--color-info-light);
    align-items: center;
}
.search-container > button {
    margin-left: 10px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}
.search-container > button:hover {
  background-color: var(--color-primary);
  cursor: pointer; /* Changes cursor to a pointer on hover */
  color: white;
}

/* --------------------------INVENTORY---------------------------- */
main .inventory-table{
    margin-top: 2rem;
}
main .inventory-table h2{
    margin-bottom: 0.8rem;
}

main .inventory-table table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 3rem;
}

main .inventory-table table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .inventory-table a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* ----------------Inventory popup boxes ADD/REMOVE ITEM----------------------------*/
.addItemPopup > button{
    margin-left: 10px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}

.addItemPopup > button:hover {
  background-color: var(--color-primary);
  cursor: pointer; /* Changes cursor to a pointer on hover */
  color: white;
}
.addItemPopup{
    width: 400px;
    background-color: var(--color-info-light);
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
    color:var(--color-dark);
    display: none; /* hidden initially */
}
.removeItemPopup > button{
    margin-left: 10px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}

.removeItemPopup > button:hover {
  background-color: var(--color-primary);
  cursor: pointer; /* Changes cursor to a pointer on hover */
  color: white;
}
.removeItemPopup{
    width: 400px;
    background-color: var(--color-info-light);
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
    color:var(--color-dark);
    display: none; /* hidden initially */
}

/* ---------------------------- SALES -------------------------- */
main .salesOptions {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    margin-right: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    cursor: pointer;
    font-family: poppins, sans-serif;
}
main .salesOptions input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}
main .salesOptions:hover {
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: none;
}

main .salesOptions:hover input[type="date"] {
    color: var(--color-white);
    background: transparent;
}

main .sales-table{
    margin-top: 2rem;
    max-height: 500px;
    overflow-y: auto;
}
main .sales-table h2{
    margin-bottom: 0.8rem;
}

main .sales-table table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .sales-table table:hover{
    box-shadow: none;
}

main .sales-table a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

main .sales-graph {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
    transition: all 300ms ease;
}

main .sales-graph:hover {
    box-shadow: none;
}

main .sales-graph canvas {
    width: 100%;
    max-height: 500px;
}


/* ------------------------EMPLOYEES PAGE------------------------------- */
main .employees-table{
    margin-top: 2rem;
}
main .employees-table h2{
    margin-bottom: 0.8rem;
}

main .employees-table table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 3rem;
}

main .employees-table table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .employees-table a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


/* ---------------------------MENU PAGE ----------------------------- */
main .menu-table{
    margin-top: 2rem;
}
main .menu-table h2{
    margin-bottom: 0.8rem;
}

main .menu-table table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 3rem;
}

main .menu-table table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .menu-table a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* --------------------Menu Page -ADD/REMOVE MENU ITEMS -------------------------------- */
.addMenuPopup > button{
    margin-left: 10px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}

.addMenuPopup > button:hover {
  background-color: var(--color-primary);
  cursor: pointer; /* Changes cursor to a pointer on hover */
  color: white;
}
.addMenuPopup{
    width: 400px;
    background-color: var(--color-info-light);
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
    color:var(--color-dark);
    display: none; /* hidden initially */
}
.removeMenuPopup > button{
    margin-left: 10px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}

.removeMenuPopup > button:hover {
  background-color: var(--color-primary);
  cursor: pointer; /* Changes cursor to a pointer on hover */
  color: white;
}
.removeMenuPopup{
    width: 400px;
    background-color: var(--color-info-light);
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
    color:var(--color-dark);
    display: none; /* hidden initially */
}